---
export interface Props {
  emoji: string;
  title: string;
  description: string;
  link: string;
  isArchived: boolean;
}

const { emoji, title, description, link, isArchived } = Astro.props;
---

<div class:list={[{ "opacity-50": isArchived }]}>
  <a href={link} class="flex p-4 bg-neutral-900 rounded-xl">
    <div class="flex flex-shrink-0 items-center justify-center text-4xl w-16 h-16 rounded-full bg-neutral-800">
      {emoji}
    </div>
    <div class="pl-6 w-full">
      <h2 class="text-neutral-200 text-lg">
        {title}
      </h2>
      <div class="pt-1">
        <p class="text-sm text-neutral-200">
          {description}
        </p>
      </div>
    </div>
  </a>
</div>
